<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
    <arg name="world_name" value="$(find gripbot_description)/worlds/gripbot.world"/>
  </include>

  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="false" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="true" />

  <!--
  By default, hide joint_state_publisher's GUI

  MoveIt!'s "demo" mode replaces the real robot driver with the joint_state_publisher.
  The latter one maintains and publishes the current joint configuration of the simulated robot.
  It also provides a GUI to move the simulated robot around "manually".
  This corresponds to moving around the real robot without the use of MoveIt.
  -->
  <arg name="use_gui" default="false" />


  <rosparam command="load" file="$(find gripbot_description)/config/gripbot.yaml"/>

  <node name="gripbot_" pkg="controller_manager" type="spawner" respawn="false" ns="/gripbot" 
  args="
  joint_state_controller
  base_column_controller
  girdle_visual_controller
  forearm_visual_controller
  arm_visual_controller
  base_wrist_controller
  finger_1_base_controller
  finger_1_distal_controller
  finger_1_mid_controller
  finger_1_proximal_controller
  finger_2_base_controller
  finger_2_distal_controller
  finger_2_mid_controller
  finger_2_proximal_controller
  finger_3_distal_controller
  finger_3_mid_controller
  finger_3_proximal_controller
  --shutdown-timeout 3"/>

  <param name="/robot_description" textfile="$(find gripbot_description)/urdf/gripbot_2.urdf" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner"    
    pkg="gazebo_ros" 
    type="spawn_model" 
    args="-z 0.01 -unpause -urdf -model gripbot -param /robot_description" 
    respawn="false" 
    output="screen" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" ns="/gripbot">
    <param name="publish_frequency" type="double" value="30.0" />
    <!-- param name="tf_prefix" type="string" value="/gripbot" /-->
  </node> 

</launch>
